@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: white;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    padding-top: 5rem;
    padding-left: 5rem;
    font-size: 3rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;

    padding: 0.2rem 0.5rem;
    padding-left: 5rem;
    font-family: "Times New Roman", Times, serif;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  &#home {
    overflow: hidden;

    .main-info {
      h1 {
        margin-top: 20vh;
      }

      .sm-heading {
        margin-bottom: 12px;
      }

      .icons {
        padding-left: 80px
      }
    }

    .btn-icons:hover {
      color: $secondary-color;
    }

    .btn-home {
      width: 180px;
      margin-top: 12px;
      margin-left: 80px;

      span {
        margin-left: 2px;
      }



    }


  }
}




//Projects
#work {

  .lg-heading,
  .sm-heading {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    padding: 0;
  }

  .sm-heading {
    margin-bottom: 1.5rem;
  }

  /*End of Heading
    Start of Projects
  */
  .projects {
    display: inline-block;

    .item {
      width: 100%;
      display: inline-flex;
      //grid-template-areas: "imagepro desc";
      //grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
      margin: 12px;
      background-color: lighten($bg-color, 5);

      img {
        width: 321px;
        height: 330px;
        border: 1px #fff solid;
        //grid-area: imagepro;

        /*&:hover {
          //opacity: 0.85;
          border-color: $secondary-color;
          @include easeOut;
        }*/
      }

      .descriptions {
        overflow: hidden;
        padding: 0 20px 0 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 1.3rem;
        text-align: justify;
        font-size: 14px;

        .link-provider {
          color: lighten($secondary-color, 2);
          text-decoration-line: underline;
        }

        span {
          color: $secondary-color;
        }

        .text-btn {
          margin-left: 2px;
          color: #fff;
        }

        .p-name,
        .subtitles,
        span {
          font-weight: bold;
          margin: 0;
        }

        .p-name {
          font-style: italic;
          margin-top: 20px;
        }

        .btn-group {
          align-self: flex-end;
          font-size: 10px;
        }
      }
    }
  }
}

//Button Styles
.btn-group {

  position: relative;
  margin: 12px 0 12px 0;
  width: 100%;

}

.btn {
  display: inline-flex;
  align-content: center;
  align-items: center;
  text-align-last: justify;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 8px;
  width: 100px;

  &:hover {
    background: $secondary-color;

  }
}



.btn-dark {
  @extend .btn;
  background: darken($bg-color, 10);
  color: #fff;
}

.btn-light {

  @extend .btn;
  background: darken($bg-color, 5);
  color: #fff;
}


#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($bg-color, 10);
  color: set-text-color($bg-color);
  height: 60px;
}

@import "mobile";